body {
background-image: url("https://st2.depositphotos.com/3549671/10496/v/950/depositphotos_104962758-stock-illustration-seamless-vector-background-with-delicate.jpg?forcejpeg=true");  
text-align: center;
font-family: 'LieraSansRegular';
font-weight: normal;
font-style: normal;
}

#nav {
background-color: lightyellow;
margin: 1%;
padding: 0.5em;
border: 5px solid black;
  margin: auto;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
}

li {
float: left;
text-align: center;
}

li a {
display: block;
padding: 8px;
background-color: lightyellow;
}

.link {
background-color: lightyellow;
border: 5px solid black;
padding: 0.5em;
margin: auto;
width: 800px;
}

#content {
overflow:auto;
}

.description {
background-color: lightyellow;
border: 5px solid black;
padding: 0.5em;
margin: auto;
width: 800px;
}

h1, h2, h3, h4 {
background-color: lightgreen;
padding: 0.5em;
border: 5px solid black;
margin: auto;
width: 800px;
text-align: center;
}

p {
background-color:lightsteelblue;
border: 5px solid black;
padding: 0.5em;
width: 800px;
margin: auto;
text-align: center;
}
